
body{
    margin: 0;
    text-align: center;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    font-size: 1rem;
}

h1{
    font-size: 5rem;
    margin: 50px auto 0 auto;
    line-height: 1.5;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color: #001253;
}

h2{
    font-size: 2.5rem;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color: #001253;
    font-weight: normal;
}

h3{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    color: #083AA9;
    text-align: center;
}
.top-container{
    background-color: #31C6D4;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
    margin: 100px 0px;

}

.bottom-container{
  
  padding-top: 10px;
}

.pro{
  text-decoration: underline;
}

.intro{
    width: 30%;
    
}

.cloud1{
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;

}

.Malzahar{
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-right: 30px;
}

.WebDev{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

a{
    color: #11999E;
    padding: 10px 10px 10px 10px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

hr{
    border-color: grey;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


.me{
    border-radius: 100%;
    width: 15%;
}